/* General Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0f0f;
    background: url('Images/Space_bg.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

header {
    background-color: rgba(16, 16, 16, 0.591);
    padding: 10px;
    width: 100%;
    position: fixed;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-size: 2.5em;
    font-weight: 100;
}

.textContainer {
    padding: 20px;
    border: 1px, solid, rgb(76, 130, 83);
    border-radius: 10px;
    background-color: rgba(32, 32, 32, 0.285);
    max-width: 80%;
}

.centeredSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nav Styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.nav-left,
.nav-right {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-left li,
.nav-right li {
    margin: 0 15px;
}

.nav-left li a,
.nav-right li a {
    color: #ffffff;
    text-decoration: none;
    /* font-weight: bold; */
}

/* Responsive styles */
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #ffffff;
}

/* Ensure tsparticles div takes the full screen and sits behind other elements */
#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Make sure particles are in the background */
}


@media (max-width: 1120px) {
    .menu-toggle {
        display: block;
    }

    .nav-right {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .nav-right.active {
        display: flex;
    }

    .nav-right li {
        margin: 15px 0;
    }
}

/* Icon Styles */

.nav-right i {
    font-size: 1.2em;
}

.nav-right a:hover i {
    color: #28a745;
}

/* Icon Styles */

.nav-right i {
    font-size: 1.2em;
}

.nav-right a:hover i {
    color: #28a745;
}

/* Hero Section Styles */

.hero {
    text-align: center;
    padding: 0px 20px;
    background: url('grid-background.jpg') no-repeat center center;
    background-size: cover;
}

.hero img {
    width: 90%;
    max-width: 800px;
    height: auto;
    padding: 24px;
}

.hero h1 {
    font-size: 3.2em;
    font-family: "Cinzel", serif;
    margin: 20px 0;
}

.hero p {
    max-width: 800px;
    font-size: 1 em;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-top: 64px;
}

form input[type="email"] {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #ffffff;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

/* @media (max-width: 500px) {
    .textContainer {
        max-width: 300px;
    }
} */